extends ../layout

block content
  h1= title
  p Welcome
  p
    a(href='/') Home
  h3 Please enter your Credentials
  form(action='/users' method='post')
    div
      label User Name:
        input(type='username' name='username')
    div
      label Password: 
        input(type='password' maxlength='12' name='password')
    input(type='submit')
  p #{AllUsers}
